{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="{% static 'bulma-0.9.4.min.css' %}">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Dictionary
      </h1>
      <p class="subtitle">
        A Free Minimalist Dictionary for <strong>Everyone</strong>!
      </p>
      <p class="subtitle is-6">
      All the data available here is taken from <strong></strong>, Source Code is available on <a class="is-link" href="https://github.com/lf32/dictionary" target="_blank">Github</a>.
      </p>
    </div>
  </section>

  {% if search %}
  <section class="section is-max-desktop">
    <div class="container my-0">
	    <form method="POST">
		    {% csrf_token %}
	<h2 class="subtitle is-3 is-block">Search Dictionary</h2>
	<div class="columns mx-auto">	
		<div class="column is-two-thirds">
			{{ form.input_text }}
		</div>
		<div class="column is-one-thirds">
		<input type="submit" class="button is-link is-fullwidth submit" value="Search">
		</div>
	</div>
	    </form>
    </div>
  </section>
  {% endif %}

  {% if alpha %}
  <section class="section">
    <div class="container">
	<h2 class="subtitle is-3 is-block">Search Dictionary By Letter</h2>
	<div class="is-flex is-flex-wrap-wrap ">	
	    {% for letter in alpha %}
		<a class="title is-3 button mx-1 is-light is-info" href="{% url 'letter_view' letter=letter %}">{{ letter|capfirst }}</a>
	    {% endfor %}
	</div>
    </div>
  </section>
  {% endif %}

  {% if dictionary %}
  <section class="section">
    <div class="container">
  {% for key in dictionary %}
	<div class="card mb-2">
  <header class="card-header">
	  <p class="card-header-title">
	  {{ key.0 }} {% if key.1 %} <span style="white-space: pre-wrap;"> ({{ key.1 }}) </span> {% endif %}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
	    {{ key.2 }}
    </div>
  </div>
</div>
  {% endfor %}
    </div>
  </section>
  {% endif %}

    <footer class="footer mx-auto" style=" bottom:0;">
  <div class="content has-text-centered">
    <p>
      <strong>Free Dictionary</strong> by <a href="https://github.com/lf32">lf32</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website 
      is built using <a class="is-link" href="https://djangoproject.com" target="_blank">Django</a> and <a class="is-link" href="https://bulma.io/" target="_blank">Bulma CSS</a>.. 
    </p>
  </div>
</footer>

  </body>
</html>
